* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

body {
    display: flex;

    font-family: 'Times New Roman', Times, serif;
}

div.img {
    background-size: cover;
    background-repeat: no-repeat;

    display: block;
    position: relative;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    filter: grayscale(0%);

    transition: flex-grow 0.4s, filter 1.2s;
}

div.img:nth-child(1) {
    background-image: url(img/cactus.avif);
}

div.img:nth-child(2) {
    background-image: url(img/mountains.avif);
}

div.img:nth-child(3) {
    background-image: url(img/path.avif);
}

div.img:nth-child(4) {
    background-image: url(img/trees.avif);
}

h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: fit-content;
    padding: 15px;

    font-size: 60px;
    color: #FFF;
    text-align: center;

    opacity: 0;
    transition: 0.3s;
    translate: (-50%, 150%);
}

h2::before {
    content: "";
    transform: scaleX(0);
    transition: 0.2s, 0.6s;
}

/* H O V E R */

body:hover div.img {
    filter: grayscale(100%);
}

body:hover div.img:hover {
    filter: grayscale(0%) saturate(200%);
}

div.img:hover {
    flex-grow: 5;
    opacity: 1;
    flex-basis: auto;
}

div.img:hover h2 {
    opacity: 1;
    transition: 0.3s, 0.4s;
    transform: translate(-50%, -50%);
}

div.img:hover h2::before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    border-top: 1px solid white;
    border-bottom: 1px solid white;

    transform: scaleX(1);
}

/* M E D I A */

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }

    div.img {
        background-position: center;
    }
}